# Obsidian — archivos locales de cada máquina
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/*/data.json

# Trash
.trash/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
*.swp
*.swo
*~
.vscode/

# Otros
*.tmp
.idea/
